body, h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif
}

div.blog {
  margin-bottom: 10px;
}

img.blog {
  max-width:50%;
  height: auto;
}

a.blog {
  text-decoration: none;
  cursor: pointer;
}

pre.code {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

pre.bash {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: #f6f8fa;
  background-color: black;
  border-radius: 3px;
}

h2.section {
  counter-reset: step-counter;
}

h1.section {
  counter-reset: step-counter;
}

.section.back {
  display: block;
  position:relative;
}
span.back {
  position: relative;
  /* display:inline-block; */
  float: right;
}
a.back {
  text-decoration: none;
  cursor: pointer;
}

/* all screens unless otherwise defined */
@media only screen {
  .step {
    position: relative;
    font-size: 1.1em;
    font-weight: bold;
  }
  .step::before {
    counter-increment: step-counter;
    content: 'Step ' counter(step-counter) ' ';

  }
}

@media only screen and (min-width: 64.063em) {
  .step {
    position: relative;
    font-size: 1.1em;
    font-weight: bold;
  }
  .step::before {
    counter-increment: step-counter;
    content: 'Step ' counter(step-counter) ' ';

  }

  .step::after {
    content: counter(step-counter);
    position: absolute;
    left: -3.5em;
    top: -.5em;
    background: #f6f8fa;
    border-radius: 50%;
    border: 1px;
    border-style: solid;
    border-color: black;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: white;
  /* color: #444; */
  cursor: pointer;
  padding: 0px 0px 18px 0px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .accordion:hover { */
  /* background-color: #ccc; */
/* } */

/* Style the accordion panel. Note: hidden by default */
.panel {
  /* padding: 0 18px; */
  /* background-color: white; */
  display: none;
  overflow: hidden;
}

blockquote {
  margin: 0px;
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}
